<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link href="~/StyleSheet1.css" rel="stylesheet" />
</head>  

<div id="border">
<form id="input" method="post">

    <label for="StartYear">Start Year: </label>
    <input maxlength="4" name="StartYear"/>

    <label for="EndYear">End Year: </label>
    <input maxlength="4" name="EndYear" />

    <button type="submit">Submit</button>

</form>
</div>