<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<style>
    body {
        border-style: solid;
        border-width: 10px;
        border-color: red;
    }

#border { background-color: navajowhite; }

    h1, h2 {
        display: inline;
        width: 200px;
        text-align: center;
        margin: auto;
    }


</style>


<div id="border">
<h1 align="center">TIME</h1><br>
<h2>Person of the Year</h2>

<form method="post">

    <label for="StartYear">Start Year: </label>
    <input maxlength="4" name="StartYear"/>

    <label for="EndYear">End Year: </label>
    <input maxlength="4" name="EndYear" />

    <button type="submit">Submit</button>

</form>
</div>