<head>
    <link href="#" rel="stylesheet" />
</head>

<h1> hello from the index home</h1>

<form method="post">

    <label for="StartYear">Start Year: </label>
    <input maxlength="4" name="StartYear" />

    <label for="EndYear">End Year: </label>
    <input maxlength="4" name="EndYear" />

    <button type="submit">Submit</button>

</form>