<form method="post">

    <label for="StartYear">Start Year: </label>
    <input maxlength="4" name="StartYear" />

    <label for="EndYear">End Year: </label>
    <input maxlength="4" name="EndYear" />

    <button type="submit">Submit</button>

</form>
